/* General Styles */
* {
    font-family: "Montserrat", sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: "Montserrat", sans-serif;
}
.container {
    max-width: 1200px; /* Optional max width */
    width: 100%;
    margin: 0 auto;
}

/* Navigation Styles */

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 5rem;
    padding: 0 1rem; /* Add some padding */
}

.nav-links {
    display: flex;
    justify-content: center;
    align-items: center;
    transition: max-height 0.3s ease; /* Smooth transition for dropdown */
}

.nav-links li {
    list-style: none;
    margin-inline: 1.5rem;
}

.nav-links li a {
    text-decoration: none;
    color: black;
    font-family: "Montserrat", sans-serif;
    
}
.nav-links li a:hover {
    
    color: rgb(0, 8, 255);
    
    
}

.logo {
    font-size: 36px;
}

/* Button Styles */
button {
    padding: 0.8rem 1.5rem;
    font-size: 1rem;
    font-weight: 500;
    background-color: #18A0FB;
    color: white;
    border-radius: 8px;
    border: 1px solid transparent;
    cursor: pointer;
    letter-spacing: 0.05rem;
    transition: background-color 0.3s, box-shadow 0.3s;
}

.secondary-btn {
    background-color: transparent;
    border: 1px solid #18A0FB;
    color: #18A0FB;
}

button.secondary-btn:hover {
    background-color: #18A0FB;
    color: white;
}
button.register-btn:hover {
    background-color: #0056b3;
    color: white;
}
#checkbtn{
    display: none;
}
#check {
    display: none; /* Hide checkbox by default */
}
/* Responsive Styles */
@media screen and (max-width: 945px){
    .nav-links li{
        margin-inline: 0.5rem;
    }
}
@media (max-width: 768px) {
    nav {
        
        align-items: flex-start; /* Align items to the left */
    }

    #check {
        display: none; /* Hide checkbox by default */
    }

    #checkbtn {
        display: block; /* Show the hamburger icon */
        cursor: pointer;
        font-size: 24px; /* Icon size */
    }

    .nav-links {
        display: none; /* Hide nav links by default */
        flex-direction: column; /* Stack links vertically */
        width: 100%; /* Full width */
        position: absolute; /* Position absolute for dropdown */
        top: 5rem; /* Space below the navbar */
        left: 0;
        background-color: white; /* Background color for dropdown */
        padding: 1rem 0; /* Add padding */
    }

    #check:checked + #checkbtn + .nav-links {
        display: flex; /* Show links when checkbox is checked */
    }

    .nav-links li {
        margin: 0.5rem 0; /* Space between links */
    }
}





/* Responsive Styles */


    .hero-content {
        padding: 1rem;
        text-align: center;
    }

    .hero-content h1 {
        font-size: 1.5rem;
        font-family: "Montserrat", sans-serif;
    }

    .hero-content button:hover{
        background-color: #0056b3;
    }

.flex{
    display: flex;
   
    align-items: center;
}

.row{
    display: flex;
    flex-direction: row;
}

.center{
    justify-content: center;
}

.hero{
    height: calc(95vh - 100px);
    background:url("https://s3-alpha-sig.figma.com/img/9a0f/235b/083f8069df6b70482aa1c27088a8f0c5?Expires=1731283200&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=lTpleoRH6U8Mwz3RUVczjEf85iUkOdY2-CLy1qJs-i-M5pxeGcWkmCVp1TGhEPDMOy0E39vFPCIjn1tJRTEylzTs-aFSV5jlXz87SHz1s62Zc~GlPMRb-VdCqkZXhbDDcqKM-ccVCYCYjmN-sbgm3VLrK0IlVnqnMqUM1ys6MI~7mjGJcwrfREXube9gdlPdMFFv74mOb6PrXaeoDdnOeA8xAwgtj9i25vHt2gDUyT7HOwlaw62UpJe4uFfmcMNfq9qnCb4IU05DTOEGq5cD5~ZT2n1INMPGhvF0C8rsHlRhPAQubsVnMXfh~TUfHB2RAj8Z-8Bg9IFhhCH4jj6c9Q__");
    background-position: center;
    object-fit: cover;
    background-color: #a7a5a5;
    background-blend-mode: multiply;
    
}
.hero-content {
    margin-top: 24rem;
    display: flex;
    flex-direction: column; /* Stack items vertically */
    align-items: center;    /* Center items horizontally */
    gap: 1rem;              /* Adds spacing between elements */
}
.hero-content h1{
    font-family: "Montserrat", sans-serif;
    color: white;
    font-size: 40px;
}
h2{
    font-size: 50px;
}
.features {
    margin-top: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100%;
    padding: 2rem;
}

.features h2 {
    font-family: "Montserrat", sans-serif;
    font-size: 2rem;
    margin-bottom: 2rem;
}

.features-content {
    display: flex;
    justify-content: space-around;
    gap: 2rem;
    width: 100%;
}

.feature-cards {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 45%;
}

.card {
    padding: 2rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    text-align: left;
}

.card h3 {
    font-weight: 800;
    font-size: 1.5rem;
    line-height: 1.5;
}

.card p {
    margin-bottom: 1rem;
    color: #666;
}

.card button {
    padding: 0.5rem 1rem;
    background-color: #18A0FB;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.card button:hover {
    background-color: #0056b3;
}

/* Responsive Styles for Features */
@media (max-width: 768px) {
    .features h2 {
        font-size: 1.5rem;
    }

    .features-content {
        flex-direction: column;
        align-items: center;
    }

    .feature-cards {
        width: 100%;
    }

    .card h3 {
        font-size: 1.3rem;
    }

    .card p {
        font-size: 1rem;
    }
}

@media (max-width: 480px) {
    .features h2 {
        font-size: 1.2rem;
    }

    .card h3 {
        font-size: 1.1rem;
    }

    .card p {
        font-size: 0.9rem;
    }

    .card button {
        padding: 0.4rem 0.8rem;
        font-size: 0.9rem;
    }
}



/* Social Media Promo Styles */

.social-media-promo {
    margin-top: 5rem;
    padding: 2rem;
}

.social-media-promo h2 {
    text-align: center;
}

.head {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 1rem;
}

.para {
    text-align: center;
    color: rgb(50, 47, 47);
    font-size: 1.2rem;
    max-width: 600px;
}

.media-content {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 3rem 0;
    gap: 2rem;
}

.text-content {
    height: 60vh;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: start;
}

.text-block h3 {
    font-weight: 900;
    color: black;
    margin-bottom: 0.5rem;
}

.image-content {
    background-image: url(https://s3-alpha-sig.figma.com/img/a176/1b0f/cca829be2ec39306f4a3d85d585418f9?Expires=1731283200&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=IcmbcKWBRirQz70vxX16MtjZ2Oy8bzcQuQd0rSCvwbYD9ifFVgtdP5fEaLCo7JbFYHwjGmma~q0OfalocYm3244v~~ikKggqlnJplu1GLThEaDfUdx4STUD9hwQfS419YeLTeMnUZ-sSZHuKfF96jmZNguUjpD31yvQuMr6JQS2TvVWicFX~BvbhaFBC-0BMZaVgfe0WRHLNXpGqMMra03YIzIvYw5K574LUo~A1xk5RkoE4GN0ZjAIWu1lHMp2VLBZSXMToIvEM3b7bpX7XH-Afz0yZtmxEpXuQDwjzQIxfPFQiftJ18p7WpAIJURZb34Zko3Z8GH9RSWIVoTtxvA__);
    background-size: cover;
    background-position: center;
    height: 60vh;
    width: 50%;
   
    overflow: hidden;
}

/* Responsive Styles for Media Content */

@media (max-width: 768px) {
    .media-content {
        
        flex-direction: column;
        align-items: center;
    }

    .text-content, .image-content {
        width: 100%;
        
    }

    .para {
        font-size: 1rem;
    }

    .text-block h3 {
        font-size: 1.1rem;
    }

    .text-block p {
        font-size: 0.9rem;
    }
}

@media (max-width: 480px) {
    .para {
        font-size: 0.9rem;
    }

    .text-block h3 {
        font-size: 1rem;
    }

    .text-block p {
        font-size: 0.85rem;
    }
}

/* Style Cards */

.style-cards {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1.5rem;
    flex-wrap: wrap;
    width: 100%;
}

/* Style for individual cards */
.style-cards .card {
    padding: 0;
    flex: 1;
    min-width: 280px;
    max-width: 30%;
    height: auto;
    border: 1px solid rgba(95, 94, 94, 0.344);
    margin: 1rem 0;
    display: flex;
    flex-direction: column;
}

.style-cards .card .content {
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}

.style-cards .card .content h3 {
    font-size: 1.25rem;
    margin-bottom: 0.5rem;
}

.style-cards .card .content p {
    font-size: 1rem;
}

/* Image styling for each card */
.style-cards .card .image1,
.style-cards .card .image2,
.style-cards .card .image3 {
    height: 200px; /* Define fixed height */
    width: 100%;/* Full width */
    background-size: cover;/* Cover for better aspect ratio */
    background-position: center;
    border-bottom: 1px solid rgba(95, 94, 94, 0.344);
}
.style-cards .card .image1{
    background-image: url(https://s3-alpha-sig.figma.com/img/f027/ad3e/88d92a29093d425399c0373d28f59fe7?Expires=1731283200&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=Zi17A-Mfr8DoXoBzB29rWe5ZE2RPT5jaH88fv152yqJnXvONLXavGeot1yaA9FfNAk~JY44xAHWff60cMfsl4wlcEk9zeojSDC5trZ9kyYMkdlqR~9SpQ9VItF~QVUdwTi1V35tsXyrDxrbu92LTmEp2JX59-6YbUEUvYCdUSL5c8lwLh5SxpQefaWiB-w-2PJwmVaDiC-9rE85WUE1O6Sfwtl1ZrUyD6XoiecvUyipqQaswvgxH1EbPTxzD~KMKwOxaEGXxDWi2CH9b8xFS3eMSC88lV2PT-E-Q8FMrcPSBVovqPWQ-deF5vfrvVJwwENuMsYT-nqSCPku-hg3aNQ__);
}
.style-cards .card .image2{
    background-image: url(https://s3-alpha-sig.figma.com/img/509b/2f7a/af199b94148f7bba6aa717e04de0ed97?Expires=1731283200&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=n~Qv5KXzglR12fp2jr6qDyKcYaUNGjtdgYwgEUFVj870kh3OcXXyxZ5qzqZZxrAsWt56~T6wScQRju5juXk9uM4~lOY1szz1qz7HSBG3cMLI0D0q0FcvOD2EWoM-n3FE7L~GnIpHwL6TGwx4K~Vg2e0Qe74pydfKVAuCCZE6Wit3rMWBO9eZfnIzzGen2rvmEfPzINXdTd67fLu-zKdLX00-1YQVpAJGKlRLD-097CnmJtvxh72jNJiyNh0SaSflqkW~RGby7MLm-zD63zpVqRw-Iln480sBzehNCvc4Jueiz-~Z5J6B5njwET3PY4NIEOfCJMNR3oj1w-JfYD~yoQ__);
}
.style-cards .card .image3{
    background-image: url(https://s3-alpha-sig.figma.com/img/be68/bf70/ecadfa1e925cc59d5e7bc0f2589560c7?Expires=1731283200&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=o9qnyfUDjo6rXtvj6uf2VS-7Fc27DY36hexl2RlfzyG8UFFm0ps9gL2H4GofUqYLUVDnDyRlnH1kZhYTMbohco6Z4~2F2a8mGrs7hjQzjF6iE-iiX6oYOSdsHJYdiHBQ7P833LJfTm1t75RRiIGl69pYk92pIKz8Q61BtuFktNO~7nhdWtJpU3fQJR4eyl9dRJHdNnuz87~UC5Bh9DFFkdym1b3LUWHcEX1id6Z2p3BTyxWIyj02zeOyQigmbZ~B6bEjr2iShBcjBFQaGCWhAXKsrGOhQgWl4kw2HtrzqSiTWT4bQA92Qgv7xdQHRY4xBSBz6IeMZcExNSaAINDyXg__);
}
/* Responsive design for smaller screens */
@media (max-width: 768px) {
    .style-cards {
        flex-direction: column;
        align-items: center;
    }
    .style-cards .card {
        max-width: 100%;
    }
    .head h2 {
        font-size: 1.5rem;
    }
    .head .para {
        font-size: 0.9rem;
    }
    .style-cards .card .content h3 {
        font-size: 1.1rem;
    }
    .style-cards .card .content p {
        font-size: 0.9rem;
    }
}

@media (max-width: 480px) {
    .head h2 {
        font-size: 1.25rem;
    }
    .head .para {
        font-size: 0.85rem;
    }
    .style-cards .card .content h3 {
        font-size: 1rem;
    }
    .style-cards .card .content p {
        font-size: 0.85rem;
    }
}


/* free-trial Styles */

.free-trial {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 2rem;
}

.head h2 {
    font-size: 2rem;
}

.head .para {
    font-size: 1rem;
    color: #666;
    max-width: 600px;
    margin: 0.5rem auto 2rem;
}

.signup-form {
    width: 100%;
    max-width: 500px;
    padding: 2rem;
    border: 1px solid #ccc;
    border-radius: 8px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

input {
    padding: 0.9rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100%;
}

.box {
    display: flex;
    gap: 0.5rem;
}

button.submit {
    padding: 0.9rem;
    background-color: #18A0FB;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-size: 1rem;
    transition: background-color 0.3s ease;
}

button.submit:hover {
    background-color: #0056b3;
}

/* Responsive Styles */
@media (max-width: 768px) {
    .head h2 {
        font-size: 1.5rem;
    }

    .signup-form {
        padding: 1.5rem;
    }

    .box {
        flex-direction: column;
        gap: 1rem;
    }

    input {
        font-size: 1rem;
    }
}

@media (max-width: 480px) {
    .head h2 {
        font-size: 1.2rem;
    }

    .head .para {
        font-size: 0.9rem;
    }
    
    button.submit {
        font-size: 0.9rem;
        padding: 0.8rem;
    }
}


/* ---------------------------------
   Footer Styles
--------------------------------- */

.footer-container{
    padding: 4rem;
    background-color: #3d3d3d;
    height: 30vh;
    color: white;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: wrap;
    
    
}
.footer-logo{
    display: flex;
    align-items: start;
    justify-content: flex-start;
}
.footer-auth{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    row-gap: 1rem;
}
.footer-auth .login-btn{
    background-color: aliceblue;
}

.link-column{
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    
}


.link-column ul li {
    list-style: none;
    
}
.link-column  a{
    opacity: 0.9;
    color: white;
    text-decoration: none;
}
a{
    text-decoration: none;
    color: white;
}





footer{
    background-color:#3d3d3d;
}



.footer-links{
    justify-content: space-between;
    
    width: 50%;
    
}

.line{
    margin-inline: 3rem;
    background-color: #3d3d3d;
}
.subfooter{
  
    background-color: #3d3d3d;
    padding: 0;
}

.subfooter-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-block:3rem ;
    gap: 30px;
    flex-wrap: wrap;
}
.subfooter-container p{
    font-size: 15px;
    color: white;

}
.follow{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}
.link {
    gap: 1rem;
    font-size: 30px;
}
.link a{
    gap: 2rem;
    font-size: 39px;
}



/* Responsive Styles */

@media screen and (max-width: 991px) and (min-width: 768px) {
    .footer-container {
        display: flex;
        flex-direction: column;
        padding: 2rem; /* Adjust padding if needed */
        align-items: center; /* Center align items */
        height: auto; /* Allow content to flow naturally */
        gap: 20px; /* Adjust the gap between items */
    }
    .subfooter-container{
     padding: 2rem; /* Adjust padding if needed */
    }
    .footer-links {
        flex-direction: row; /* Keep the links in a row */
        flex-wrap: wrap; /* Allow wrapping for smaller screens */
        justify-content: center; /* Center align the links */
        gap: 2rem; /* Add space between link columns */
        width: 100%; /* Ensure full width */
    }

    .link-column {
        flex: 1 1 45%; /* Allow link columns to grow and shrink */
        text-align: center; /* Center text within each column */
    }

    .auth-buttons {
        display: flex; /* Keep the buttons inline */
        justify-content: center; /* Center align buttons */
        gap: 1rem; /* Add space between buttons */
    }

    
}


@media screen and (max-width: 767px){


    .style-cards .card{
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }


    .footer-container{
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 40px;
        text-align: center;
        align-items: center;
    }
    .footer-links{
        display: flex;
        flex-direction: column;
        row-gap: 3rem;
        height: 100%;
        width: 100%;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    .link-column{
        flex-direction: column;
        align-items: center;
        gap: 20px;
        
    }
    .subfooter-container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-block:3rem ;
        gap: 30px;
        flex-wrap: wrap;
    }
    h1{
        font-size: 2rem;

    }
    h2{
        font-size: 1rem;
    }
    p{
        font-size: 0.5rem;
    }
    
}
